<div class="calendar-full">
  <div id="scheduler_here" class="dhx_cal_container" style='width:800px; height:550px;'>
      <div class="dhx_cal_navline">
          <div class="dhx_cal_prev_button">&nbsp;</div>
          <div class="dhx_cal_next_button">&nbsp;</div>
          <div class="dhx_cal_today_button"></div>
          <div class="dhx_cal_date"></div>
            <div id="day-tab">
              <div class="dhx_cal_tab" name="day_tab"></div>
            </div>
            <div id="month-tab">
              <div class="dhx_cal_tab" name="month_tab" style="right:75px;"></div>
            </div>
      </div>
      <div class="dhx_cal_header">
      </div>
      <div class="dhx_cal_data">
      </div>
  </div>
</div>
