<div class="master-availability">

  <h2> Add Availability</h2>
  <p>
    Please specify which day you are available to cover another employee's shift. Once saved, other employees may reach out to you to coordinate a shift swap.
  </p>

  <form id="form" method="post" action="/dashboard">
    <label for="date-input"> Date you are available to work: </label>
    <input id="date-input" type="date" name="addDate" />
    <br />

    <button> Save New Availability </button>
  </form>

</div>
