<div class="date-edit">

  <h2> Add Future Shift for Pick-up </h2>

  <form id="request-form" method="post" action="/dashboard2">

    <label for="request-input">
      <p> If no one is currently available for the date you need, you can make your shift available here for others to pick up.</p>
      <p>Which day are you looking for someone to pick up your shift?</p>
    </label>
    <input id="request-input" type="date" name="requestDate" />
    <br />

    <button> Add Shift Request </button>
  </form>

</div>
