<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/fullcalendar/dist/fullcalendar.css" />
    <link rel="stylesheet" href="/codebase/dhtmlxscheduler.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <!-- Had to include jQuery in head to define $ and avoid error -->
    <script src='/jquery/dist/jquery.min.js'></script>

    <script src="/codebase/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>

  </head>

  <body onload="init();">

    <header>
      <h1> Shiftly </h1>
    </header>

    <nav>
      <a href="/">Home</a>

      <% if (currentUser) { %>
        <a href="/logout">Log Out</a>
        <b> <%= currentUser.email %> </b>

        <% } else { %>
          <a href="/signup">Sign Up</a>
          <a href="/login">Log In</a>
          <a href="/about">Learn More</a>

          <% } %>
    </nav>

    <%- body %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src='/moment/min/moment.min.js'></script>
    <script src='/fullcalendar/dist/fullcalendar.js'></script>

    <script src='/javascripts/jscalendar.js'></script>

  </body>
</html>
