<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="/codebase/dhtmlxscheduler.css" type="text/css" media="screen" title="no title" charset="utf-8">

    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>

  <body onload="init();">

    <header>
      <h1> Shiftly </h1>
    </header>

    <nav>

      <% if (!currentUser) { %>
          <a href="/">Home</a>
          <a href="/signup">Sign Up</a>
          <a href="/login">Log In</a>
          <a href="/about">Learn More</a>
      <% } %>
    </nav>

    <%- body %>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="/codebase/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>

    <script src='/javascripts/jscalendar.js'></script>

  </body>
</html>
