<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/signup" class="logo"><strong>Shiftster</strong></a>
					<nav id="nav">
            <% if (!currentUser) { %>
  						<a href="/login">Log In</a>
  						<a href="/about">Learn More</a>
            <% } %>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to Shiftster</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-car"></span>
							<h3>Shift Tracking</h3>
							<p>Keep track of the days you work</p>
						</div>

						<div>
							<span class="icon fa-camera"></span>
							<h3>Shift Transparency</h3>
							<p>Always know who is available to work</p>
						</div>

						<div>
							<span class="icon fa-bug"></span>
							<h3>Shift Swapping</h3>
							<p>Ask someone to cover your shift</p>
						</div>

					</div>

					<footer>
						<a href="/signup" class="button">GET STARTED</a>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="images/signup.jpg" alt="Pic 01" />
							</div>
							<header>
								<h3>Become a<br /> Shiftster</h3>
							</header>
							<footer>
								<a href="/signup" class="button">Sign Up</a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="images/login.jpg" alt="Pic 02" />
							</div>
							<header>
								<h3>I am a<br /> Shiftster</h3>
							</header>
							<footer>
								<a href="/login" class="button">Log In</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Made with a keyboard</h3>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>
