<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <% if (!currentUser) { %>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <% } %>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <% if (currentUser) { %>
    <link rel="stylesheet" href="/codebase/dhtmlxscheduler.css">
    <% } %>

  </head>

  <body onload="init();">

    <div class="master-body">


    <% if (currentUser) { %>
    <div class="master-nav">
        <ul class="sidenav">
          <li><a class="active" href="/dashboard">My Dashboard</a></li>
          <li><a href="/my-profile/<%= currentUser._id %>">My Profile</a></li>
          <li><a href="#contact">My Groups</a></li>
          <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
    <% } %>

    <%- body %>

    </div>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="/codebase/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>

    <script src="/javascripts/skel.min.js"></script>
    <script src="/javascripts/util.js"></script>
    <script src="/javascripts/main.js"></script>

    <script src="/javascripts/jscalendar.js"></script>

  </body>
</html>
