@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";

body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  margin: 0;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

#signup-login,
#no-account {
  text-align: center;
}

#signup-form,
#login-form,
#add-form,
#request-form,
#profile-form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 400px;
}

.master-profile,
.date-edit {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 347px;
}

.master-profile > p {
  text-align: center;
}

.calendar-full{
  width: 75%;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  margin-left: 250px;
  padding-top: 20px;
}

#day-tab {
  left: 16px;
  top: 0;
}

#month-tab {
  left: -45px;
  top: 0;
}

a {
  color: #00B7FF;
}

.sidenav img {
  width: 100px;
  margin: 20px auto 0;
  padding-bottom: 20px;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

ul.sidenav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav li a.active {
    background-color: #6fbf92;
    color: white;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}
