


<ul class="sidenav">
  <li><a class="active" href="/dashboard">My Dashboard</a></li>
  <li><a href="#home">My Profile</a></li>
  <li><a href="#contact">My Groups</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>

<div id="calendar-full">
  <div id="scheduler_here" class="dhx_cal_container" style='width:750px; height:450px;'>
      <div class="dhx_cal_navline">
          <div class="dhx_cal_prev_button">&nbsp;</div>
          <div class="dhx_cal_next_button">&nbsp;</div>
          <div class="dhx_cal_today_button"></div>
          <div class="dhx_cal_date"></div>
            <div id="day-tab">
              <div class="dhx_cal_tab" name="day_tab"></div>
            </div>
            <div id="month-tab">
              <div class="dhx_cal_tab" name="month_tab" style="right:75px;"></div>
            </div>
      </div>
      <div class="dhx_cal_header">
      </div>
      <div class="dhx_cal_data">
      </div>
  </div>
</div>
